body {
    background: #eee;
    color: #111;
    font: 14pt/22pt Helvetica, Arial, sans-serif;
}

* {
    outline: none;
}

button, input {
    font: inherit;
    border-radius: 10px;
    background: #eee;
    padding: 5px;
}

#controls {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    height: 50px;
    background: #fff;
    text-align: center;
}

#controls button {
    float: left;
}

#volume {
    float: right;
    width: 300px;
    margin: 20px 50px 0 0;
}

#now_playing .title {
    font-weight: bold;
}

#library {
    margin-top: 120px;
    margin-left: 20px;
    padding-left: 20px;
    display: block;
}

#library h3 {
    margin-left: 20px;
}

#library a:hover {
    text-decoration: underline;
    background: #ffa;
    cursor: pointer;
}

a.artist {
    font-size: 22px;
    font-weight: bold;
}

a.song {
    font-size: 16px;
    font-weight: normal;
    padding-left: 20px;
}

h3 {
    font-size: 16px;
    margin-bottom: 3px;
}
