body {
    background: #eee;
    color: #111;
    font: 14pt/22pt Helvetica, Arial, sans-serif;
    margin: 0;
}

* {
    outline: none;
}

#controls {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    height: 50px;
    background: #151515;
    color: #FEFEFE;
    text-align: center;
}

#controls button {
    text-align: center;
    padding: 5px 0;
    background: transparent;
    font-size: 18pt;
    float: left;
    width: 42px;
    height: 42px;
    margin-left: 5px;
    border: 0;
    color: #FEFEFE;
    cursor: pointer;
}

#controls button:hover {
    color: #AAA;
}

#volume {
    float: right;
    width: 200px;
    margin: 20px 50px 0 0;
}

#now_playing {
    visibility: hidden;
}

#now_playing .title {
    font-weight: bold;
}

#library {
    margin: 100px 0 0 0;
    display: block;
}

#library .loading {
    font-size: 16pt;
    color: #888;
    text-align: center;
    padding-top: 70px;
}

#library h3 {
    margin-left: 20px;
}

.songlist {
    font-size: 12pt;
}

.songlist .song, .songlist .header {
    padding: 0 25px;
}

.songlist .song {
    clear: both;
    border-bottom: 1px solid #ddd;
}

.songlist .song:hover {
    background: #ffa;
    cursor: pointer;
}

.songlist .song:after, .songlist .header:after {
    content: "";
    display: block;
    clear: both;
}

.songlist .header {
    font-weight: bold;
    border-bottom: 1px solid #bbb;
}

.songlist span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    padding: 4px;
}

.songlist span.name {
    width: 40%;
}

.songlist span.artist, .songlist span.album {
    width: 30%;
}
